:root {
  --body-background-color: #e5e5e5;
  --white-text-color: #ffffff;
  --focus-hover-link-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --main-font-color: #212121;
  --background-primary-color: #2196f3;
}

body {
  background: var(--body-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font);
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
  width: 1200px;
}

.header-contact {
  --text-color-header-contact: #757575;
}
.worker-profession {
  --text-color-worker-profession: #757575;
}

.sub-description {
  --text-color-sub-description: #757575;
}

.articles__demo {
  --text-color-demo-article: #757575;
}

/* section first page */

/* .slider {
  display: flex;
  width: 1600px;
  background-color: #2f303a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
} */
.slider {
  display: block;
  margin: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/slider_img.jpg");
  /* background-image: url("../images/slider_img.jpg"); */
}
.slider__foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 200px;
}

.slider__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
}
.slider__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--background-primary-color);
  border: 0;
  border-radius: 4px;
  width: 200px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slider__button:focus,
.slider__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.articles {
  background: #e5e5e5;
  width: 1600px;
}

.articles__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 94px 215px;
}

.articles__list > .articles__item:not(:last-child) {
  margin-right: 30px;
}

/* .item-articles {
  margin-right: 30px;
} */

.articles__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.articles__demo {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-demo-article);
  margin: 0;
}

.what-we-do {
  display: flex;
  background: #e5e5e5;
  width: 1600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-we-do__list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 94px;
  padding-left: 0;
}

.signature-back {
  position: relative;
}

.signature-back__title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 27px 0 27px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__list > .what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.employee {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

.worker-profession {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 16px;
  color: var(--text-color-worker-profession);
}

/* section header, nav */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-primary-color);
  text-decoration: none;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.logo_part--dark {
  color: rgb(0, 0, 0);
}

.logo_part--light {
  color: rgb(255, 255, 255);
}

.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  width: 1600px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 32px;
  margin: 0;
  display: flex;
}

.menu > .menu__item:not(:last-child) {
  margin-right: 46px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--normal-link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--focus-hover-link-color);
}

.header-contact {
  list-style: none;
  padding: 32px;
  margin: 0;
  display: flex;
}

.header-contact__nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color-header-contact);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__nav:focus,
.header-contact__nav:hover {
  color: var(--focus-hover-link-color);
}
.header-contact > .header-contact__item:not(:last-child) {
  margin-right: 30px;
}

.menu-filter {
  width: 1600px;
  background: #e5e5e5;
}

.filter__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 0 50px 0;
}
/* section main */
.filter__button {
  background: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.03em;
  text-align: center;
  /* margin-right: 8px; */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__list > .filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button:hover,
.filter__button:focus {
  background: var(--focus-hover-link-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.results {
  width: 1600px;
}
.results__filter {
  list-style: none;
  max-width: 1200px;
  padding-left: 0;
  padding-bottom: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.fig-portfolio__basic {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.fig-portfolio__sub {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-sub-description);
  margin: 0;
}

.our-team {
  display: flex;
  width: 1600px;
  background: #f5f4fa;
  flex-direction: column;
  align-items: center;
  padding: 94px 215px;
}

.list-team {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-team > .list-team__item:not(:last-child) {
  margin-right: 30px;
}

figure {
  margin: 0;
}
.fig-agency {
  margin: 0;
  text-align: center;
  background: #ffffff;
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.fig-portfolio {
  text-align: left;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

/* section footer */

.footer-flex {
  width: 1600px;
  background: #2f303a;
  padding: 60px 215px;
}

.data-footer {
  list-style: none;
  font-style: normal;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 76px;
  color: var(--white-text-color);
}

.footer-address__place {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 9px;
}

.footer-address__email,
.footer-address__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-address__email {
  display: block;
  margin-bottom: 9px;
}

.footer-address__tel {
  margin: 0;
}

.footer-address__email:hover,
.footer-address__email:focus,
.footer-address__tel:hover,
.footer-address__tel:focus {
  color: var(--focus-hover-link-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mod-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.our-costumers {
  width: 1600px;
  background: #e5e5e5;
  padding: 94px 0 94px 0;
}
.costumers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.costumers-list > .costumers-list__item:not(:last-child) {
  margin-right: 30px;
}

.costumers-list__item {
  border: solid #afb1b8 1px;
  border-radius: 4px;
  fill: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.costumers-list__item:hover {
  border: solid #2196f3 1px;
  fill: #2196f3;
}

/* icon style */

.header-contact__icon {
  margin-right: 10px;
}

.header-contact__hov:hover {
  fill: #2196f3;
}

.articles__svg {
  width: 270px;
  /* height: 120px; */
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
}

.articles__icon {
  display: block;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-icons > .social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon__properties {
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon__properties:hover {
  background: #2196f3;
  fill: #ffffff;
}

.social-icon-footer__icon {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer__icon:hover {
  background: #2196f3;
  /* fill: #ffffff; */
}

.results__item {
  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.results__item:focus,
.results__item:hover {
  border: inset 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.curtain-box {
  position: relative;
  overflow: hidden;
}
.curtain-box:hover .curtain-box__screen {
  transform: translateY(0);
}

.curtain-box__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.curtain-box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}

/* Backdeop & Window */

.window {
  position: relative;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.title-form {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-form {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 4px 0 10px 0;
  padding-left: 42px;
  outline: none;
}

.window-form:hover,
.window-form:focus {
  border: 1px solid #2196f3;
}

.label-window:focus-within {
  fill: #2196f3;
}

.label-window {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 36px;
  left: 13px;
}

.field-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.textarea-window-form {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 4px 0px 20px 0;
  resize: none;
  outline: none;
}

.textarea-window-form:hover,
.textarea-window-form:focus {
  border: 1px solid #2196f3;
}

.textarea-window-form::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.button-form {
  width: 200px;
  height: 50px;
  background: #2196f3;

  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-form:hover,
.button-form:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-box-form {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-reg-form {
  color: #2196f3;
}
.input-box {
  appearance: none;
}

.label-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.label-box::before {
  display: block;
  position: absolute;
  left: -22px;
  top: 3px;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 32 32'%3E%3Ctitle%3Echeckbox-unchecked%3C/title%3E%3Cpath class='box' d='M28 0h-24c-2.2 0-4 1.8-4 4v24c0 2.2 1.8 4 4 4h24c2.2 0 4-1.8 4-4v-24c0-2.2-1.8-4-4-4zM28 28h-24v-24h24v24z'%3E%3C/path%3E%3C/svg%3E%0A");
}

.input-box:checked + .label-box::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  display: none;
  transition-duration: 2s;
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 2s;
}
/*End Backdrop & Window */

.menu__item {
  position: relative;
}
.menu__highlight::after {
  position: absolute;
  content: "";
  top: 47px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: none;
}

.menu__highlight:hover::after {
  display: block;
}

.menu__active::after {
  position: absolute;
  content: "";
  top: 47px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  /* display: none; */
}

.social-icon-footer {
  margin-right: 85px;
}

.form-footer__label {
  display: none;
}

.form-footer__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 17px;
  padding: 16px 15px;
}
.newsletter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.78;
  color: #ffffff;
  background: #2196f3;
  padding: 10px 0 10px 0;
  border: 0;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-button:hover,
.newsletter-button:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter-button__icon {
  margin-left: 24px;
  fill: #ffffff;
}
.form-footer__newsletter {
  display: flex;
}
