.results {
  width: 1600px;
}
.results__filter {
  list-style: none;
  max-width: 1200px;
  padding-left: 0;
  padding-bottom: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.fig-portfolio__basic {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.fig-portfolio__sub {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-sub-description);
  margin: 0;
}

figure {
  margin: 0;
}

.fig-portfolio {
  text-align: left;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.results__item {
  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: inset 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.curtain-box {
  position: relative;
  overflow: hidden;

  &:hover .curtain-box__screen {
    transform: translateY(0);
  }
}

.curtain-box__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.curtain-box__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
